.wp-crm-form-wrapper { overflow: hidden; }
.wp-crm-form-column { margin: 0 10px 10px; padding: 5px; list-style-type: none; }
.wp-crm-form-column input[type="text"] {}
.wp-crm-form-tabs { margin: 0 10px 5px; padding: 0; }
.wp-crm-form-tabs label { margin: 0 5px; }
.wp-crm-form label input { margin-right: 5px; }
.wp-crm-form-collabel { margin: 0 10px; padding: 0 5px; border-radius: 3px; }
.wp-crm-form-buttons { clear: both; text-align: center; margin: 0 10px 10px; padding: 5px; border-radius: 3px; }
.wp-crm-form-basket { clear: both; margin: 0; padding: 0; list-style-type: none; }
.wp-crm-form-basket-total { font-size: 15pt; font-weight: bold; }
.wp-crm-form-basketwrap { float: right; }
.wp-crm-form-shadow { position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; background: #fff url(../images/loading.gif) no-repeat center center; }
.wp-crm-form-label { clear: both; margin: 0 10px 10px; padding: 5px; }
.wp-crm-form-separator { clear: both; margin: 0 0 10px; padding: 0; }
.wp-crm-form-tos { clear: both; text-align: center; margin: 0 10px 10px; padding: 5px; border-radius: 3px; }
.wp-crm-form-tos input[type="checkbox"] { float: left; }
.wp-crm-form-tos ul { display: inline; text-align: left; }
.wp-crm-form-tos li { display: inline; }
.wp-crm-form-error label { background: #c00; color: #fff; padding: 1px 2px; border-radius: 3px; }
.wp-crm-form-error-hint { position: absolute;  width: 300px; height: 48px; border: 1px solid #ccc; background: #fff; border-radius: 3px; text-align: left; display: block; padding: 4px; box-shadow: 1px 1px 3px #333; margin-top: 20px; }
.wp-crm-form-buttons div { float: left; width: 50%; }

.wp-crm-form-info-head,
.wp-crm-form-info-foot { margin: 5px 10px; }
.wp-crm-form-info-head { border-bottom: 1px solid #eee; padding-bottom: 5px; }
.wp-crm-form-info-foot { border-top: 1px solid #eee; padding-top: 5px; }
.wp-crm-form-info-head ol { margin: 0 10px; padding: 0 10px; }

.tos-link-window { position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; background: #fff url(../images/loading.gif) no-repeat center center; overflow: auto; }
.tos-link-content { background-color: #fff; margin: 5px 10px; }
.tos-link-buttons { text-align: center; margin: 20px 0; }
.tos-link-buttons button { width: 200px; }
