/**/
#wp-crm-shop-shadow { position: absolute; background: #000; width: 0; height: 0; border: 0; top: 0; left: 0; }
#wp-crm-shop-window * { font-size: 9pt; }
#wp-crm-shop-window { position: absolute; left: 50%; width: 500px; margin-left: -250px; top: 50px; background: #fff; border: 2px solid #ccc;  z-index: 9999; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 3px; display: none; box-shadow: 3px 3px 5px #000; }
.wp-crm-popup-shop { position: absolute; top: 15px; right: 15px; cursor: pointer; background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 24px; z-index: 1111; }
.wp-crm-popup-shop strong { position: absolute; top: 15px; right: 20px; color: #fff; font-weight: bold; }

#wp-crm-shop-window ul { margin: 0.8em 2em; }
#wp-crm-shop-window li { text-align: justify; }
#wp-crm-shop-window small { font-size: 8pt; font-style: italic; }
#wp-crm-shop-window small sup { font-size: 7pt; font-style: italic; }

.wp-crm-shop-product { position: relative; width: 200px; cursor: pointer; float: left; margin-left: 3px; }
.wp-crm-shop-inline { clear: both; float: none!important; margin: 0 auto!important; }
.wp-crm-shop-discounted { width: 294px;  }
.wp-crm-shop-button { margin: 0!important; }
.wp-crm-shop-product-value { width: 88px; height: 36px; line-height: 36px; position: absolute; top: 0; left: 112px; text-align: center; color: #c00; font-size: 21pt; font-weight: bold; }
.wp-crm-shop-product-fullvalue { width: 88px; height: 36px; line-height: 36px; position: absolute; top: 0; right: 0; text-align: center; color: #c00; font-size: 21pt; font-weight: bold; }
.wp-crm-shop-product-currency { width: 88px; position: absolute; bottom: 4px; left: 112px; text-align: center; font-weight: bold; color: #ccc; }
.wp-crm-shop-product-fullcurrency { width: 88px; position: absolute; bottom: 4px; right: 0; text-align: center; font-weight: bold; color: #ccc; }
.wp-crm-shop-product-label { width: 106px; line-height: 22px; position: absolute; top: 6px; left: 2px; text-align: center; font-weight: bold; color: #fff; }
.wp-crm-shop-crossed { position: absolute; top: -4px; right: -4px; }

.wp-crm-shop-cart { border: 1px solid #ccc; border-width: 1px 0 0 1px; }
.wp-crm-shop-cart input[type="text"] { width: 24px; text-align: center; color: #c00; font-weight: bold; }
.wp-crm-shop-cart th,
.wp-crm-shop-cart td { border: 1px solid #ccc; border-width: 0 1px 1px 0; padding: 0 2px; }
.wp-crm-shop-cart-wrapper { margin: 15px; position: relative; }
.wp-crm-shop-cart-close { position: absolute; z-index: 9999; right: 0; top: 0; cursor: pointer; }

.wp-crm-shop-form { width: 466px; margin-left: 15px; }
.wp-crm-shop-form th { width: 160px; text-align: right; }
.wp-crm-shop-form input[type="text"] { width: 100%; }
.wp-crm-shop-form textarea { width: 100%; }

.wp-crm-shop-pink-table { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #fde; margin-top: 5px; margin-bottom: 5px; }
.wp-crm-shop-yellow-table { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #ffd; margin-top: 5px; margin-bottom: 5px; }
.wp-crm-shop-green-table { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #efd; margin-top: 5px; margin-bottom: 5px; }
.wp-crm-shop-blue-table { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #def; margin-top: 5px; margin-bottom: 5px; }
.wp-crm-shop-purple-table { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #fef; margin-top: 5px; margin-bottom: 5px; }

.wp-crm-shop-field-er { background: #fff url(../icons/error.png) no-repeat center right; }
.wp-crm-shop-field-ok { background: #fff url(../icons/ok.png) no-repeat center right; }

.wp-crm-shop-inline-product { clear: both; margin: 0; clear: both; }
.wp-crm-shop-inline-product div { height: 90px; margin-left: 110px; width: 440px; background: #fff; border-radius: 3px; text-align: center; box-shadow: 1px 1px 4px #000; }
.wp-crm-shop-buy-product { float: right; padding-right: 10px; }
.wp-crm-shop-buy-product div { float: right; background: #fff; border-radius: 3px; text-align: center; box-shadow: 1px 1px 4px #000; }
.wp-crm-shop-buy-product-price { display: block; float: right; color: #333; font-weight: bold; font-size: 23pt; clear: right; text-align: center; width: 150px; }
.wp-crm-shop-buy-product-price sup { font-size: 7pt; color: #666; }
.wp-crm-shop-buy-product-btn { position: relative; float: right; clear: right; cursor: pointer; }
.wp-crm-shop-buy-product-btn span { position: absolute; top: 5px; right: 18px; display: block; line-height: 18px; font-size: 11pt; color: #fff; font-weight: bold; }
.wp-crm-shop-buy-product-cut { font-size: 13pt; color: #666; text-decoration: line-through; float: right; display: block; width: 150px; line-height: 16px; font-weight: normal; }
.wp-crm-shop-buy-product-cut sup { font-size: 6pt; color: #999; }
.wp-crm-shop-buy-product-credentials { float: left; }

.wp-crm-shop-closed { border-radius: 3px; box-shadow: 1px 1px 4px #000; margin: 10px; text-align: justify; }

.wp-crm-shop-button-silver { width: 120px; height: 48px; display: block; background: transparent url('/wp-content/plugins/wp-crm/icons/button-silver.png') center center; cursor: pointer; text-decoration: none!important; }
.wp-crm-shop-button-gold { width: 120px; height: 48px; display: block; background: transparent url('/wp-content/plugins/wp-crm/icons/button-gold.png') center center; cursor: pointer; text-decoration: none!important; }
.wp-crm-shop-button-platinum { width: 120px; height: 48px; display: block; background: transparent url('/wp-content/plugins/wp-crm/icons/button-platinum.png') center center; cursor: pointer; text-decoration: none!important; }
.wp-crm-shop-button-silver span,
.wp-crm-shop-button-gold span,
.wp-crm-shop-button-platinum span { font-size: 10pt; display: block; text-align: center; color: #000; line-height: 20px; padding-top: 4px; font-family: Calibri, Arial, Verdana, sans-serif; }
.wp-crm-shop-button-silver strong,
.wp-crm-shop-button-gold strong,
.wp-crm-shop-button-platinum strong { font-size: 12pt; display: block; text-align: center; color: #000; line-height: 16px; font-family: Calibri, Arial, Verdana, sans-serif; padding-left: 5px; }

.wp-crm-shop-buy-silver { width: 300px; height: 150px; display: block; background: transparent url('/wp-content/plugins/wp-crm/icons/leadership/silver-dark.png') center center; cursor: pointer; text-decoration: none!important; text-align: center; }
.wp-crm-shop-buy-gold { width: 300px; height: 150px; display: block; background: transparent url('/wp-content/plugins/wp-crm/icons/leadership/gold-dark.png') center center; cursor: pointer; text-decoration: none!important; text-align: center; }
.wp-crm-shop-buy-platinum { width: 300px; height: 150px; display: block; background: transparent url('/wp-content/plugins/wp-crm/icons/leadership/platinum-dark.png') center center; cursor: pointer; text-decoration: none!important; text-align: center; }
.wp-crm-shop-buy-silver:hover { background-image: url('/wp-content/plugins/wp-crm/icons/leadership/silver-light.png'); }
.wp-crm-shop-buy-gold:hover { background-image: url('/wp-content/plugins/wp-crm/icons/leadership/gold-light.png'); }
.wp-crm-shop-buy-platinum:hover { background-image: url('/wp-content/plugins/wp-crm/icons/leadership/platinum-light.png'); }
.wp-crm-shop-buy-silver span,
.wp-crm-shop-buy-gold span,
.wp-crm-shop-buy-platinum span { color: #fc0; font-weight: bold; font-size: 44pt; line-height: 150px; display: block; }
.wp-crm-shop-buy-silver,
.wp-crm-shop-buy-gold,
.wp-crm-shop-buy-platinum { margin: 5px 0 10px 5px; }

.wp-crm-shop-custom-product { float: left; }


.wp-crm-gallery-container { position: relative; }
.wp-crm-gallery-view { width: 900px; height: 584px; text-align: center; overflow: hidden; border-radius: 3px; background: #000 url(/wp-content/plugins/wp-crm/icons/gallery-black.gif) no-repeat center center; margin-left: 7px; }
.wp-crm-gallery-prev { width: 186px; height: 94px; background: url('/wp-content/plugins/wp-crm/icons/prev.png') no-repeat right center; border-radius: 3px; text-align: center; position: absolute; left: -130px; top: 100px; }
.wp-crm-gallery-prev div { float: left; }
.wp-crm-gallery-next { width: 190px; height: 94px; background: url('/wp-content/plugins/wp-crm/icons/next.png') no-repeat left center; border-radius: 3px; text-align: center; position: absolute; right: -120px; top: 100px; text-align: right; }
.wp-crm-gallery-next div { float: right; }
.wp-crm-gallery-social { width: 80px; background: #ddd; border-radius: 3px; text-align: center; position: absolute; right: -40px; top: 220px; }
.wp-crm-gallery-download { width: 52px; height: 18px; line-height: 18px; display: block; border-radius: 3px; border: 1px solid #d3d3d3; background: #eceef5; color: #3b5998; font-size: 8pt; text-align: center; text-decoration: none; margin: 5px 0 15px 14px; }
.wp-crm-gallery-download:hover { border-color: #9dacce; }
.wp-crm-gallery-thumbs { width: 850px; margin-left: 40px; }
.wp-crm-gallery-thumb { margin: 0 5px 5px; padding: 0; width: 160px; height: 94px; overflow: hidden; float: left; text-align: center; cursor: pointer; }
